button{
    color: azure;
    border-radius: 4px;
    width: 180px;
    height: 60px;
    margin-top: 350px;
    font-size: 20px;
    
}

.button-state1{
    background-color: red;
    color: white;
    
}

.button-state2{
    background-color: rgba(0, 0, 0, 0.05);
    color: rgb(96, 96, 96);
}

div{
    display: flex;
    justify-content: center;
    align-content: center;
}